# Build output
/dist

# IDE
/.idea
/.vscode

# Dependencies
/node_modules
/pnpm-lock.yaml

# Environment variables
/.env

# Runtime files
/xtask-cqrs-read.sqlite
/xtask-cqrs-write.sqlite

# Misc
/.npmrc
/.yarnrc
/yarn.lock
/.DS_Store
/.tsbuildinfo
/.turbo
.xtask-manifest.json
