
# Build output
/src/dist
/dist
/src/build
/build

# IDE
/.idea
/.vscode

# Dependencies
/src/node_modules
/node_modules

# Environment variables
/src/.env
/.env

# Miscelaneaneous
/src/.npmrc
/src/.yarnrc
/src/yarn.lock
/src/package-lock.json
/src/.DS_Store
/src/.tsbuildinfo
.DS_Store

#Jest
/src/.tmp
/tmp
/.tmp
/src/packages/**/.tmp
/src/packages/core/.tmp
/src/packages/core/coverage
/src/packages/common/coverage
/src/packages/express-http/coverage
/src/packages/fastify-http/coverage
/packages/core/coverage
/packages/common/coverage
/packages/express-http/coverage
/packages/fastify-http/coverage

#Dist
packages/common/dist/