
# Build output
/dist

# IDE
/.idea
/.vscode

# Dependencies
/node_modules
/package-lock.json

# Runtime files
/*.sqlite
/*.sqlite-journal

# Environment variables
/src/.env
/.env

# Miscellaneous
/.npmrc
/.yarnrc
/yarn.lock
/.DS_Store
/.tsbuildinfo
.xtask-manifest.json
